:root{
  --blue:#174177;
}

*{
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
input,
select,
textarea,
button {
outline: 0;
} 
body{
  background-color: aquamarine;
}
.heading{
  text-align: center;
  font-size: 4rem;
  color:#10378b;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(58, 54, 238, 0.05);
}

.heading span{
  color: var(--blue);
  font-size: 4rem;
} /* That's the logo */
.logo{
  display: flex;
  width: 7rem;
}
.logo:hover{
  opacity: 0.8; /* Reduz a opacidade ao passar o mouse */
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem; 
  border-radius: 0.4rem;
  background: #333;
  color: #fff;
  padding: 2rem 5rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover{
  background: var(--blue);
}

header{/* That's the nav bar */
  position: fixed;
  top: 0; left: 0; right: 0;
  background: #5bdad3;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 5rem .4rem 1.5rem 0 rgba(0, 0, 0, 0.25);
}

header .logo{
  font-size: 3rem;
  color: 333;
  font-weight: bolder;
}


header .logo span{
  color: var(--blue)

}

header .navbar a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover{
  color: var(--blue);
}

header .icons a{
  font-size: 3rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover{
  color: var(--blue);
}

header #toggler{
  display: none;
}

header .fa-bars{
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0,0,0,.3);
  display: none;
}

.retangulo1{
  border-radius: 30%;
}
.home{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content{
  max-width: 50rem;

}

.home .content h3{
  font-size: 6rem;
  color: #333;
}

.home .content span{
  font-size: 3.5rem;
  color:var(--blue);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p{
  font-size: 2rem;
  color: #999;
  padding: 1rem 0;
  line-height: 1.5;
}

.projects .row{
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  pad: 2rem 0;
  padding-bottom: 3rem;
}

.projects .row .video-container{
  flex: 1 1 40rem;
  position: relative;
}

.projects .row .video-container video{
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  object-fit: cover;
}

.projects .row .video-container h3{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #333;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.projects .row .content{
  flex: 1 1 40rem;
}

.projects .row .content h3{
  font-size: 3rem;
  color: #333;
}

.projects .row .content p{
  font-size: 1.5rem;
  color: #999;
  padding: .5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}
.foto{
  display: flex;
  width: 35rem;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}
.retangulo1{
  margin-top: 15rem;
  margin-left: 5rem;
  width: 170.3rem;
  height: 77rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo2{
  margin-top: 1rem;
  margin-left: 2rem;
  width: 166.1rem;
  height: 40.0rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo3{
  margin-top: -74rem;
  margin-left: 40rem;
  width: 127.6rem;
  height: 15.4rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo4{
  margin-top: 1.7rem;
  margin-left: 40rem;
  width: 127.6rem;
  height: 15.4rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
#retangulo5{
  bottom: 2rem;
  right: 2rem;
  margin-top: 15rem;
  margin-left: 5rem;
  width: 170.3rem;
  height: 77rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo6{
  margin-top: 1rem;
  margin-left: 2rem;
  width: 35.0rem;
  height: 75rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo7{
  margin-top: -72rem;
  margin-left: 43rem;
  width: 56rem;
  height: 34rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo8{
  margin-top: 3rem;
  margin-left: 43rem;
  width: 56rem;
  height: 34rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo9{
  margin-top: -71rem;
  margin-left: 105rem;
  width: 56rem;
  height: 34rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.retangulo10{
  margin-top: 2.6rem;
  margin-left: 105rem;
  width: 56rem;
  height: 34rem;
  flex-shrink: 0;
  border-radius: 3.0rem;
  border: .1rem solid #000;
  background: #D9D9D9;
  box-shadow: 1.5rem .4rem .4rem 0rem rgba(0, 0, 0, 0.25);
}
.css{
  margin-left: 19rem;
  width: 15rem;
} 
.html{
  margin-left: 9rem;
  width: 14rem;
} 
.js{
  margin-left: 9rem;
  width: 14rem;
} 
.react{
  margin-left: 9rem;
  width: 16rem;
}
.react:hover,.js:hover,.html:hover,.css:hover{
  opacity: 0.5;
}
.c{
  margin-top: 0.4rem;
  margin-left: 15rem;
  width: 16rem;
}
.java{
  margin-top: -55rem;
  margin-left: 20rem;
  width: 12rem;
}
.py{
  margin-top: -130rem;
  margin-left: 90rem;
  width: 15rem;
}
.c:hover,.py:hover,.java:hover{
  opacity: 0.5;
}
.p{
  font-size: large;
}
.relogio{
  width: 56rem;
  border-radius: 2rem;
}
.ap{
  margin-left: 3rem;
}